@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

.btn-primary {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  border: none;
  font-size: 1.2rem;
}

.btn-light {
  font-size: 1.2rem;
}

.rounded-5 {
  border-radius: 30px;
}

.rounded-4 {
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .btn-primary,
  .btn-light {
    font-size: 1rem;
  }

  .container-fluid {
    padding: 1rem;
  }
}
