<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../styles/update/update.css" />
  <title>Voice Padel - Actualizar Usuario</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="form-container">
        <form id="registerForm" class="needs-validation" novalidate>
          <div class="mb-4">
            <h1>Modificar datos del usuario</h1>
          </div>
          <div class="my-5">
            <div id="alert-success" class="alert alert-success hidden" role="alert">
              Datos guardados exitosamente
            </div>
            <!-- Username -->
            <div class="mb-3 row">
              <label for="username" class="col-sm-2 col-form-label">Nombre de usuario</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" required minlength="3" disabled />
                <div class="invalid-feedback">
                  El nombre es requerido y debe tener al menos 3 caracteres.
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="email@example.com" required />
                <div class="invalid-feedback">
                  Por favor, ingresa un correo electrónico válido.
                </div>
              </div>
            </div>

            <!-- Contraseña Actual-->
            <div class="mb-3 row">
              <label for="inputCurrentPassword" class="col-sm-2 col-form-label">Contraseña Actual</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputCurrentPassword" placeholder="******"
                  minlength="6" />
                <div class="invalid-feedback">
                  La contraseña debe tener al menos 6 caracteres.
                </div>
              </div>
            </div>
            <!-- Nueva Contraseña -->
            <div class="mb-3 row">
              <label for="inputNewPassword" class="col-sm-2 col-form-label">Nueva Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputNewPassword" placeholder="******" minlength="6" />
                <div id="inputNewPasswordFeedback" class="invalid-feedback">
                  La contraseña debe tener al menos 6 caracteres.
                </div>
              </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="mb-3 row">
              <label for="confirm-password" class="col-sm-2 col-form-label">Repetir contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="confirm-password" placeholder="******" />
                <div class="invalid-feedback">
                  Las contraseñas no coinciden.
                </div>
              </div>
            </div>
          </div>

          <!-- Botón de envío -->
          <button type="submit" class="btn btn-primary w-100">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </main>

  <script>
    // validación personalizada de bootstrap

    const form = document.getElementsByClassName("needs-validation")[0];

    form.addEventListener(
      "submit",
      (event) => {
        const password = document.getElementById("inputNewPassword");
        const confirmPassword =
          document.getElementById("confirm-password");

        // comprobar si las contraseñas coinciden
        if (password.value !== confirmPassword.value) {
          confirmPassword.setCustomValidity(
            "Las contraseñas no coinciden."
          );
        } else {
          confirmPassword.setCustomValidity("");
        }

        form.classList.add("was-validated");

        const inputCurrentPassword = document.getElementById('inputCurrentPassword');
        const inputNewPassword = document.getElementById('inputNewPassword');
        
        if (inputCurrentPassword.value.trim() !== "") {
          // Si Campo 1 tiene valor, Campo 2 debe ser obligatorio
          inputNewPassword.setAttribute('required', 'required');

          const textFieldNewPassword = document.getElementById('inputNewPasswordFeedback');
          textFieldNewPassword.textContent = "Si se provee la contraseña actual, entonces tiene que proveer una nueva contraseña."
        } else {
          // Si Campo 1 está vacío, Campo 2 no debe ser obligatorio
          inputNewPassword.removeAttribute('required');
        }

        if (!form.checkValidity()) {
          event.preventDefault(); // Detenemos el envío
          event.stopPropagation(); // Evitamos otros manejadores
          return;
        }
        event.preventDefault(); // Detenemos el envío

        const email = document.getElementById("email").value;
        const currentPassword = document.getElementById("inputCurrentPassword").value;

        const formData = {
          email: email,
          currentPassword: currentPassword,
          newPassword: password.value,
        };

        const token = localStorage.getItem('accessToken');

        fetch(
          "https://voice-paddel-fmgzeugkg5bjh6f9.brazilsouth-01.azurewebsites.net/api/user/update",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify(formData),
          }
        )
          .then((response) => response.json())
          .then((data) => {
            const alertSuccess = document.getElementById('alert-success');

            alertSuccess.style.display = 'block';
          })
          .catch((error) => {
            console.error("Error:", error);
            alert(
              "Hubo un error al registrar. Por favor, inténtelo de nuevo."
            );
          });
      },
      false
    );

    // Función que realiza la petición GET al endpoint
    async function fetchData() {
      const accessToken = localStorage.getItem('accessToken');

      if (!accessToken) {
        console.error("No se encontró el token de acceso en localStorage");
        return;
      }

      try {
        const response = await fetch('https://voice-paddel-fmgzeugkg5bjh6f9.brazilsouth-01.azurewebsites.net/api/user', {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${accessToken}`, // JWT en el encabezado Authorization
            'Content-Type': 'application/json'
          }
        });

        if (!response.ok) {
          throw new Error(`Error en la solicitud: ${response.status}`);
        }

        const data = await response.json();

        // Asignar los valores de las propiedades del JSON a los elementos de texto
        document.getElementById('username').value = data.userName;
        document.getElementById('email').value = data.email;

      } catch (error) {
        console.error('Error obteniendo los datos:', error);
        alert("Ha ocurrido un error, por favor prueba nuevamente mas tarde.")
      }
    }

    // Llamar a la función al cargar la página
    window.onload = fetchData;
  </script>
</body>

</html>